[![AnalyticsDojo](https://s3.amazonaws.com/analyticsdojo/logo/final-logo.png)](http://rpi.analyticsdojo.com)
<center><h1>Introduction to Python - Exercises</h1></center>
<center><h3><a href = 'http://rpi.analyticsdojo.com'>rpi.analyticsdojo.com</a></h3></center>

## Exercise-Packages

This creates an Numpy array. Numpy is a common package that we will use to work with arrays. You can read more about Numpy [here](http://www.numpy.org/). 

`a = numpy.array([2,3,4])
print(a)`

To get this to work, you will have to import the Numpy package.  

### Overview
1. Verify that Numpy is installed. How did you know?  How would you install it if it wasn't installed? 
2. Provide the code to import numpy so that the code below works.  
3. Import numpy as np and create an array `E2` with values `5,6,7,8`.

In [87]:
# 1. This would fail if it weren't installed. 
# 1. !pip install numpy would install it if we didn't have it installed. 
import numpy

In [88]:
# 2. We actually don't have to import Numpy because we did above. 
import numpy
a = numpy.array([1,2,3,4])
print(a)

[1 2 3 4]

In [89]:
#Most of the time 
import numpy as np
E2 = np.array([5,6,7,8])
print(E2)

[5 6 7 8]

## Exercise - Operations on Variables

1. What happens when you multiply an integer times a boolean? What is the resulting type? 
2. What happens when you try to multiply an integer value times a null?
3. Take 5 to the power of 4 and assign it to a variable `E3` using an embeded function.

In [90]:
#What happens when you multiply int times a boolean? What is the resulting type?
a = True
b = False
c = int(5)
c= c * a
d = c * b

print(c, d)
print(type(c), type(d))

#Answer, If x is an integer and y is a boolean, x*y = x if y==true and 0 otherwise.

5 0
<class 'int'> <class 'int'>

In [91]:
a = None
b = int(5)

print(type(a), type(b))
c= a*b
print(c)
print(type(a), type(c))

#Answer, multiplying an integer times a NoneType is not allowed.

<class 'NoneType'> <class 'int'>

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [92]:
##Take 5 to the power of 4 and assign it to a variable E3 using an embeded function.
x=5
y=4
E3=pow(x, y)
print(E3)

625

## Exercise-Lists
Hint: [This list of functions on lists is useful.](https://docs.python.org/3/tutorial/datastructures.html)

1. Create a list `elists1` with the following values (1,2,3,4,5).
2. Create a new list `elists2` by first creating a copy of `elist1` and then reversing the order.
3. Create a new list `elists3` by first creating a copy of `elist1` and then adding 7 8 9 to the end. *(Hint: Search for a different function if appending doesn't work.)*
4. Create a new list `elists4` by first creating a copy of `elist3` and then insert 6 between 5 and 7.

In [93]:
elists1=[1,2,3,4,5]
print(elists1)

[1, 2, 3, 4, 5]

In [94]:
elists2=elists1[:]
elists2.reverse()

print(elists1)
print(elists2)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [95]:
#Create a new list elists3 by first creating a copy of elist1 and then adding 7 8 9 to the end.
elists3=elists1[:]
elists3.extend([7, 8, 9])

print(elists1)
print(elists3)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 7, 8, 9]

In [96]:
#Create a new list elists4 by first creating a copy of elist1 and thennsert 3.5 between 3 and 4.
elists4=elists3[:]
elists4.insert(5,6 )
print(elists3)
print(elists4)

[1, 2, 3, 4, 5, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

### This Loads a Testing Array 
- This runs tests against your b array.  If you complete the assingment correctly, you will pass the tests. 
- **If you attempt to fake passing the tests you will receive a 0 on the assignment and it will be considered an ethical violation.**

In [97]:
!pip install ipython_unittest
%load_ext ipython_unittest
#This runs tests against your b array.  If you complete the assingment correctly, you will pass the tests.

Requirement already satisfied (use --upgrade to upgrade): ipython_unittest in /opt/conda/lib/python3.5/site-packages
The ipython_unittest extension is already loaded. To reload it, use:
  %reload_ext ipython_unittest

In [98]:
%%unittest_main
class TestLists(unittest.TestCase):
    def test_list1(self):
        self.assertTrue(elists1 == [1,2,3,4,5])
    def test_list1b(self):
        self.assertTrue(type(elists1) == type([1,2,3,4,5]))
    def test_list2b(self):
        self.assertTrue(elists2 == [5,4,3,2,1])
    def test_list3(self):
        self.assertTrue(elists3 == [1,2,3,4,5,7,8,9])
    def test_list4(self):
        self.assertTrue(elists4 == [1,2,3,4,5,6,7,8,9])

.....
----------------------------------------------------------------------
Ran 5 tests in 0.008s

OK

## Exercise-Sets/Dictionary
Hint: [This list of functions on lists is useful.](https://docs.python.org/3/tutorial/datastructures.html)

1. Create a set `eset1` with the following values (1,2,3,4,5).
2. Create a new set `eset2` the following values (1,3,6).
3. Create a new set `eset3` that is `eset1-eset2`.
4. Create a new set `eset4` that is the union of `eset1+eset2`.
5. Create a new set `eset5` that includes values that are in both `eset1` and `eset2` (intersection).
6. Create a new dict `edict1` with the following keys and associated values: st1=45; st2=32; st3=40; st4=31.
7. Create a new variable edict2 from edict 1 where the key is st3.

In [99]:
eset1={1,2,3,4,5}
eset2={1,3,6}
eset3=eset1 - eset2
eset4=eset1.union(eset2)
eset5=eset1.intersection(eset2)
print(eset1,'\n', type(eset1), '\n', eset2,'\n', eset3,'\n', eset4, '\n', eset5 )

{1, 2, 3, 4, 5}
 <class 'set'>
 {1, 3, 6}
 {2, 4, 5}
 {1, 2, 3, 4, 5, 6}
 {1, 3}

In [100]:
edict1 = {'st1' : 45, 'st2' : 32, 'st3' : 40, 'st4' : 31}
edict2=edict1['st3']
print(edict1,'\n', type(edict1), '\n', edict2)

{'st4': 31, 'st2': 32, 'st3': 40, 'st1': 45}
 <class 'dict'>
 40

In [101]:
%%unittest_main
class TestSetsDicts(unittest.TestCase):
    def test_sets1(self):
        self.assertTrue(eset1 == {1,2,3,4,5})
    def test_sets1b(self):
        self.assertTrue(type(eset1) == type({1,2,3,4,5}))
    def test_sets2b(self):
         self.assertTrue(eset2 == {1,3,6})
    def test_sets3(self):
        self.assertTrue(eset3 == {2,4,5})
    def test_set4(self):
        self.assertTrue(eset4 == {1,2,3,4,5,6})
    def test_set5(self):
        self.assertTrue(eset5 == {1,3})
    def test_dict1(self):
        self.assertTrue(edict1 == {'st1' : 45, 'st2' : 32, 'st3' : 40, 'st4' : 31})
    def test_dict1b(self):
        self.assertTrue(type(edict1) == type({'st1' : 45, 'st2' : 32, 'st3' : 40, 'st4' : 31}))
    def test_dict2(self):
        self.assertTrue(edict2 == 40)

.........
----------------------------------------------------------------------
Ran 9 tests in 0.010s

OK

# Exercise-Numpy Array

1. Create a new numpy array `nparray1` that is 3x3 and all the number 3 (should be integer type).
2. Create a new variable `nparray1sum` that sums all of column 0.
3. Create a new variable `nparray1mean` that takes the average of column 0. 
4. Create a new numpy array `nparray2` that selects only column 1 of `nparray1`.
5. Create a new numpy array `nparray3` that is equal to `nparray1` times 2 (you should not alter `nparray1`).
6. Create a new numpy array `nparray4` that is a verticle stack of `nparray1` and `nparray3`.

In [102]:
import numpy as np
# Create a new numpy array nparray1 that is 3x3 and all the number 3.
#Method 1 (np.reshape)
nparray1=np.array([3,3,3,3,3,3,3,3,3]).reshape(3,3)

#Method 2 (np.full)
np.full((3, 3), 3, dtype=int)
nparray1b=np.full((3, 3), 3, dtype=int)

#Method 3 (np.ones*3)
nparray1c=np.ones(shape=(3, 3), dtype=int)*3
print('\n',nparray1, '\n', nparray1b,'\n', nparray1c)

 [[3 3 3]
 [3 3 3]
 [3 3 3]]
 [[3 3 3]
 [3 3 3]
 [3 3 3]]
 [[3 3 3]
 [3 3 3]
 [3 3 3]]

In [103]:
#Create a new variable nparray1sum that sums all of column 0.
#Method 1 
nparray1sum=nparray1[0::,0:1:].sum()

#Method 2 
nparray1sumb=nparray1[:,0:1:].sum()

#Method 3
nparray1sumc=nparray1[:,0:1].sum()
 
print('\n',nparray1sum, '\n', nparray1sumb,'\n', nparray1sumc)

 9
 9
 9

In [104]:
#Create a new variable nparray1mean that takes the average of column 0.
#Method 1 
nparray1mean=nparray1[0::,0:1:].mean()

#Method 2 
nparray1meanb=nparray1[:,0:1:].mean()

#Method 3
nparray1meanc=nparray1[:,0:1].mean()
 
print('\n',nparray1mean, '\n', nparray1meanb,'\n', nparray1meanc)

 3.0
 3.0
 3.0

In [105]:
#Create a new numpy array nparray2 that selects only column 1 of nparray1.
nparray2 = nparray1[:,1:2]
print(nparray2)

[[3]
 [3]
 [3]]

In [107]:
#Create a new numpy array nparray3 that multiplies all values of nparray1 by 2.
#Method1
nparray1=np.array([3,3,3,3,3,3,3,3,3]).reshape(3,3)
nparray3=np.multiply(nparray1,2)

#Method2
nparray3b=nparray1*2

print('\n',nparray1, '\n', nparray3,'\n', nparray3b)

 [[3 3 3]
 [3 3 3]
 [3 3 3]]
 [[6 6 6]
 [6 6 6]
 [6 6 6]]
 [[6 6 6]
 [6 6 6]
 [6 6 6]]

In [108]:
#Create a new numpy array nparray4 that is a verticle stack of nparray1 and nparray3.
nparray4=np.vstack([nparray1,nparray3])


stacked=np.array([3,3,3,3,3,3,3,3,3,6,6,6,6,6,6,6,6,6]).reshape(6,3)
print('\n',nparray4,'\n',stacked)

 [[3 3 3]
 [3 3 3]
 [3 3 3]
 [6 6 6]
 [6 6 6]
 [6 6 6]]
 [[3 3 3]
 [3 3 3]
 [3 3 3]
 [6 6 6]
 [6 6 6]
 [6 6 6]]

In [109]:
%%unittest_main
class TestNumpy(unittest.TestCase):
    def test_numpy1(self):
        self.assertTrue((nparray1 == np.full((3, 3), 3, dtype=int)).all())
    def test_numpy2(self):
         self.assertTrue(nparray1sum == 9)
    def test_numpy3(self):
        self.assertTrue(nparray1mean == 3.0)
    def test_numpy4(self):
        self.assertTrue((nparray2 == np.array([3,3,3])).all())
    def test_numpy5(self):
        self.assertTrue((nparray3 == np.full((3, 3), 6, dtype=int)).all())
    def test_numpy6(self):
        stacked=np.array([3,3,3,3,3,3,3,3,3,6,6,6,6,6,6,6,6,6]).reshape(6,3)
        self.assertTrue((nparray4 == stacked).all())

......
----------------------------------------------------------------------
Ran 6 tests in 0.008s

OK

## Exercise-Pandas
1. Using, the Iris dataset, find the mean of the sepal_length and assign it to the `sepal_lengthMean` variable using the dataframe returned from the describe command.   
2. Create a new dataframe `iristrain` that includes the first 75 rows of the iris dataframe.
3. Create a new dataframe `iristest` that includes the last 75 rows of the iris dataframe.
4. Create a new series `sepal_length` from the `sepal_length` column of the iris dataframe.

In [110]:
# Pulling from a url.  Notice that this is the raw version of the file.
import pandas as pd
iris = pd.read_csv("https://raw.githubusercontent.com/AnalyticsDojo/materials/master/analyticsdojo/data/Iris.csv")
irisstats=iris.describe()

print(irisstats)
print(irisstats.index,irisstats.columns)
iris.head()

       sepal_length  sepal_width  petal_length  petal_width
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.054000     3.758667    1.198667
std       0.828066    0.433594     1.764420    0.763161
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000
Index(['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max'], dtype='object') Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width'], dtype='object')

   sepal_length  sepal_width  petal_length  petal_width species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa

In [111]:
#This demonstrates 4 methods, using end of line indicator \
sepal_lengthMean= irisstats.loc['mean','sepal_length']
print('\nMethod 1:', irisstats['sepal_length']['mean'], \
      '\nMethod 2:', irisstats.sepal_length['mean'], \
      '\nMethod 3:', irisstats.iloc[1,0], \
      '\nMethod 4:', irisstats.loc['mean','sepal_length'] )

Method 1: 5.84333333333
Method 2: 5.84333333333
Method 3: 5.84333333333
Method 4: 5.84333333333

In [112]:
septalLengthMean

5.8433333333333337

In [113]:
iristrain=iris.iloc[0:75,:]
iristest=iris.iloc[75:150,:]
print(iristrain.describe(),'\n', iristest.describe())
iristrain.tail()

       sepal_length  sepal_width  petal_length  petal_width
count    75.000000   75.000000    75.000000   75.000000
mean      5.341333    3.204000     2.413333    0.610667
std       0.638430    0.478861     1.382256    0.542161
min       4.300000    2.000000     1.000000    0.100000
25%       4.900000    2.950000     1.400000    0.200000
50%       5.100000    3.200000     1.600000    0.300000
75%       5.700000    3.500000     4.000000    1.250000
max       7.000000    4.400000     4.900000    1.800000
        sepal_length  sepal_width  petal_length  petal_width
count    75.000000    75.00000    75.000000   75.000000
mean      6.345333     2.90400     5.104000    1.786667
std       0.679883     0.32192     0.830083    0.421815
min       4.900000     2.20000     3.000000    1.000000
25%       5.800000     2.70000     4.500000    1.400000
50%       6.300000     2.90000     5.100000    1.800000
75%       6.700000     3.05000     5.650000    2.100000
max       7.900000     3.80000     6.900000    2.500000

    sepal_length  sepal_width  petal_length  petal_width     species
70          5.9         3.2          4.8         1.8  versicolor
71          6.1         2.8          4.0         1.3  versicolor
72          6.3         2.5          4.9         1.5  versicolor
73          6.1         2.8          4.7         1.2  versicolor
74          6.4         2.9          4.3         1.3  versicolor

In [114]:
iristest.head()

    sepal_length  sepal_width  petal_length  petal_width     species
75          6.6         3.0          4.4         1.4  versicolor
76          6.8         2.8          4.8         1.4  versicolor
77          6.7         3.0          5.0         1.7  versicolor
78          6.0         2.9          4.5         1.5  versicolor
79          5.7         2.6          3.5         1.0  versicolor

In [115]:
sepal_length= iris.sepal_length
type(sepal_length)
sepal_length[134]

6.0999999999999996

In [116]:
iristest.describe().sepal_length['std']

0.67988340282833903

In [117]:
%%unittest_main
class TestPandas(unittest.TestCase):
    def test_pandas1(self):
        self.assertTrue(sepal_lengthMean == 5.8433333333333337)
    def test_pandas2(self):
        self.assertTrue(iristrain.describe().sepal_length['count'] == 75.0)
    def test_pandas3(self):
        self.assertTrue(iristest.describe().sepal_length['count'] == 75.0)
    def test_pandas4(self):
        self.assertTrue(iristrain.describe().sepal_length['std'] == 0.63842994352770832)
    def test_pandas5(self):
        self.assertTrue(iristest.describe().sepal_length['std'] == 0.67988340282833903)
    def test_pandas6(self):
        self.assertTrue(sepal_length[134] == 6.0999999999999996)

......
----------------------------------------------------------------------
Ran 6 tests in 0.042s

OK